<%= turbo_frame_tag comment do %>
  <div class="card-body">
    <%= comment.user.profile.name %>: <%= comment.content %>
    <% if current_user == comment.user %>
    <%= link_to comment_path(comment), data: {"turbo-method": :delete} do %><i class="bi bi-trash"></i><% end %>
    <% end %>
  </div>
<% end %>