<div class="users">
  <% @users.each do |user| %>
    <%= form_with url: friend_requests_path, method: :post do |form| %>
      <%= user.profile.name %>
      <%= form.hidden_field :recipient_id, value: user.id %>
      <%= form.submit "Send Friend Request" %>
    <% end %>
  <% end %>
</div>