<div class="card">
  <div class="card-body">
    <div class="card-text">
      <p><%= post.user.profile.name %></p>
      <p><%= post.created_at.strftime('%B %-d, %Y %l:%M %p') %></p>
      <p><%= post.content %></p>
      <% if post.user == current_user %>
        <%= link_to post_path(post), data: {"turbo-method": :delete} do %> <i class="bi bi-trash"></i> <% end %>
      <% end %>
    </div>
  </div>
</div>