<div class="row">
  <div class="col">
    <h1>Recent Posts</h1>
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
  
  <div class="col">
    <h1>Your Friends</h1>
    <% @friends.each do |friend| %>
      <div class="friend">
        <%= friend.profile.name %>
      </div>
    <% end %>
  </div>
</div>